* {padding: 0; margin: 0; font-family: monospace;}
body { background: #d6d6d6;}

.notes, footer{width: 90%; margin: 0 auto; display: block;}
.hidden { display: none; }

header { 
    background: white;
    color: #62BCBF;
    font-size: 3em;
    font-weight: 200;
    height: auto;
    letter-spacing: 6px;
    text-align: center;
}

.inputarea {
    background: #E0E0E0;
    display: block;
    width: 100%;
    margin: 0px auto;
}

input {
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border-radius: 0;
    display: block;
    width: 100%;
    font-size: 1.6em;
    margin: 0 auto;
    
}

input[name="startnote"] {
    margin: 0px auto;
    display: block;
    width: 100%;
    font-size: 5em;
    border-radius: 0px;
    color: white;
    border: 1px transparent;
    background: #62BCBF;
    border-bottom: 3px solid #4a9295;
}


input[name='addnote'] {
    background: #62BCBF;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    font-size: 1.8em;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    border-radius: 0;
}




.notes { margin: 20px auto;}

section { 
    background: #F7F7F7; 
    text-align: center; 
    font-size: 1.5em;
    margin: 5px auto;
    padding: 5% 0;
    width: 100%;
    border-radius: 2px;
    border-top: 5px solid #62BCBF;
}

a {
    color: #62BCBF;
    text-decoration: none;
    font-size: 1.5em;
}


footer {
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

footer a { color: #349d9d; font-weight: bold; font-variant: small-caps; text-decoration: underline;}

/* CONTAINER CODE */

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    max-height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
}

/* CONTAINER CODE ENDS */


/* Portrait tablets and larger */
@media screen and (min-width: 768px) {


}
