* {padding: 0; margin: 0; font-family: monospace; text-align: center;}
body {background: #3f7779;}

.notes, footer{width: 90%; margin: 0 auto; display: block;}
.hidden { display: none; }
input[name="startnote"].hidden {display: none;}

header { 
    background: white;
    color: #62BCBF;
    font-size: 3em;
    height: auto;
    letter-spacing: 6px;
    padding: 2% 0;
}
header.opposite {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: header;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: header;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color: #62BCBF; 
    color: white;
}
@keyframes header {
    0% {background-color: white; color: #62BCBF;}
    100% {background-color: #62BCBF; color: white;}
}

.inputarea {
    background: #E0E0E0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

input:focus {
    border: none;
}

input{
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border-radius: 0;
    border-top: 2px solid #1db4b9;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.startnote {
    background: #62BCBF;
    border-bottom: none;
    border-top: 3px solid #75d9dd;
    color: white;
    font-size: 3em;
    text-align: center;
}

.notelink {
    border-bottom: 2px solid #1db4b9;
}

.notelink, .notename, select {
    font-family: sans-serif;
    font-size: 1.3em;
}

select { width: 100%; -webkit-appearance: none;}


input[name='addnote'] {
    background: #62BCBF;
    border-top: none;
    color: white;
    font-size: 1.8em;
    padding: 2% 0;
    text-align: center;
}

.notes { margin: 20px auto;}

.section-red section:first-child,
.section-green section:first-child,
.section-orange section:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section-red section:first-child {
    border-top: 5px solid red;
}

.section-green section:first-child {
    border-top: 5px solid green;
}

.section-orange section:first-child {
    border-top: 5px solid orange;
}

    
.notes section:nth-child(even) {
    background: #e6e6e6;
}

section { 
    background: #f0f0f0; 
    font-size: 1.5rem;
    padding: 5% 0;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(35,76,77,0.63);
    -moz-box-shadow: 0px 4px 5px 0px rgba(35,76,77,0.63);
    box-shadow: 0px 4px 5px 0px rgba(35,76,77,0.63);
}

a {
    color: #62BCBF;
    font-size: 1.3em;
    text-decoration: none;
}

.kebab {
    cursor: pointer;
    float: right;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    margin-right: 3px;
    width: 20px;
    height: 100%;
    outline: none;
}

.kebab figure {
    width: 4px;
    height:4px;
    border-radius: 5px;
    background: #9d9d9d;
    margin: 3px auto;
}

.moreinfo {
    font-size: .9em;
}

.deletebutton {
    font-variant:  small-caps;
    font-size: 1em;
    width: 30%;
    text-align: center;
    margin-top: 5px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    text-align: center;
    padding: 20px 0;
}

footer a { color: #ededed; font-variant: small-caps; font-weight: bold;  text-decoration: underline;}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    max-height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
}


/* Portrait tablets and larger */
@media screen and (min-width: 768px) {
    header {
        padding: 1% 0;
    }
    
    .inputarea {
        width: 29.997%;
    }
    
    .notes {
        width: 30%;
        float: left;
        position: relative;
        z-index: 3;
    }
    
    .note {
        width: 90%;
        padding: 5% 0;
        margin: 0 auto;
        border: none;
        border-radius: 0;
    }
    
    .section-red section:first-child {
        border-top: 10px solid red;
    }
    
    .section-green section:first-child {
        border-top: 10px solid green;
    }
    
    .section-orange section:first-child {
        border-top: 10px solid orange;
    }
    
    .notes section a {
        width: 100px;
        clear: both;
        font-size: .9em;
    }
    
    .kebab {
        width: 20px;
        height: 20px;
    }

    .kebab figure {
        width: 4px;
        height:4px;
        border-radius: 3px;
        background: #9d9d9d;
        margin: 3px auto;
    }
    
    
    
    footer {
        clear: both;
    }

}

@media screen and (min-width: 1600px) {
    .notes {
        width: 20%;
        float: left;
        position: relative;
        z-index: 3;
    }
    
    section {
        font-size: 1.7em;
    }
    
    .moreinfo {
        font-size: .8em;
}
